
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <h1>A Tool For Any Situation</h1>
  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
    <div class="search-form-control form-group">
      <input class="form-control string required" type="text" name="search[query]" id="search_query" />
      <button name="button" type="submit" class="btn btn-flat">
        <i class="fas fa-search"></i> Search
      </button>
    </div>
  </form>
      <div class="card-container">
        <div class="row">
          <% @tools.each do |tool| %>
          <%= link_to tool_path(tool) do %>
           <img src="https://www.askideas.com/media/73/Hey-You-Finger-Picture.gif">
            <% end %>
          <% end %>
        </div>
      </div>
</div>