<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
<h1>Tool Hire</h1>
  <div class="card-tool">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <div class="card-tool-infos">
        <h2><% @tool.name %></h2>
        <% @tools.each do |tool| %>
        <p><%= tool.description %> / <%= tool.category %> </p>
        <% end %>
      </div>
      <h2>
  </div>
  <p><%= link_to 'Back', tools_path %></p>
</div>