<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <h1>Tools 4 Hire</h1>
    <div class container1>
      <div class="row">
        <% @tools.each do |tool| %>
        <%= link_to tool_path(tool) do %>
          <div class="card mb-4" style="background-image :url(<%()%>%)"></div>>
      </div>
    </div>
</div>