@import "/components/card";

.btn-primary {
  color: #fff;
  background-color: #E6B831;
  border-color: #E6B831;
  border-radius: 5px;

}
.btn-primary:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}

.toolbox {
  width: 100%;
  height: auto;
  padding: 6rem 0;
}
.toolbox h1 {
  width: 90%;
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.toolbox h2 {
  max-width: 20rem;
  font-size: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.grad-bg {
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%);
}
