// Import page-specific CSS files here.
@import "home";
@import "/components/navbar";
@import "/components/navtext";
@import "show";

.tools-container {
    max-width: 1000px;
    margin: 0 auto;
}

.card-container {
    display: flex;
}

.tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}