<div class="container">

  <h2>Your bookings</h2>

  <%= @tool.bookings.each do |booking| %>
    <%= @booking.start_date %>
    <%= @booking.end_date %>
  <% end %>

  <%= link_to "Back to all tools", tools_path %>
  
</div>
