.form {
  width: 720px;
  margin: auto;
  background: white;
  margin-top: 80px;
  padding: 24px;
  border-radius: 5px;
  h2 {
    text-align: center;
    margin-bottom: 16px;
  }
  .btn-primary {
    margin-bottom: 16px;
  }
  .icon-yellow {
    color: #E6B831;
  }
}